
.navlistitem{
        display: inline;
}
.navbar{
        padding: 0 10%;
}
.navitem{
        margin: 6px 0;
}
#content{
        margin-top: 65px;
}
.main{
        padding: 20px 10%;
}